.Login { 
    padding: 10px 20px 10px 60px;
    width: 70%;

    &--light {
        & #loginBtn {
            background-color: #DD8EA4;
            color: white;
        }
    }

    &--dark {
        & #loginBtn {
            background-color: #554d56;
            color: white;
        }
    }
}

.formTitle {
    font-size: 24px;
}

#loginForm {
    width: 70%;
}

.login__item {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}

#loginBtn {
    margin-top: 10px;
    border-radius: 5px;
}