.headerWrapper {
    box-sizing: border-box;
    height: 10vh;
    width: 40vw;
    margin: auto;
    display: flex;
    gap: 100px;
    justify-content: center;
    border: 5px solid #F2e9eb;
    background-color: #F2e9eb;
}

.header__item--logo {
    display: flex;
    align-items: center;
}

.header__item--navigation {
    width: 75%;
    display: flex;
    align-items: center;
    width: 100%;
}

ul {
    width: 100%;
    list-style: none;
    display: flex;
    padding: 0;
    justify-content: space-around;
}

ul > li {
    display: flex;
    align-items: center;
}