.formWrapper {
    width: 65%;
    height: 300px;
    background: white;
    margin: auto;
    border: thin solid #DD8EA4;
    border-radius: 5px;

}

.form__item {
    padding: 10px 20px 10px 20px;
    display: flex;
}

.title {
    width: 100%;
    height: 50px;
    font-size: 28px;
    padding: 10px 20px 10px 20px;
    display: flex;
    align-items: center;
    border: thin solid #DD8EA4;
    color: white;
}

.title::placeholder {
    color: white;
}

.content {
    height: 200px;
    width: 100%;
    border: thin solid #DD8EA4;
    overflow: auto;
    padding-bottom: 10px;
}

.moderationWrapper {
    height: 50px;
    /* padding: 1px 20px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    border: thin solid #DD8EA4;
}

.moderation__item {
    padding: 10px 20px;
}

.buttons__item {
    margin-left: 10px;
    width: 60px;
    height: 25px;
}

.newPost {
    text-align: center;
    margin: 20px 0px;
    font-size: 28px;
    font-weight: 600;
}